/**
*	_color.scss
*	This file contains color variables and definitions for the project.
*	It centralizes the color management, making it easier to maintain
*	and update the color scheme throughout the application.
**/

// -----------------------------------------------------------------------------
// This file contains all the colors.
// -----------------------------------------------------------------------------

// Base
$color-bg: #222429;

// Text
$color-text: #E8E8E8;
$color-text-white: #ffffff;
$color-text-dark: #87898B;
$color-text-darker: #707479;

// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #22232a;
$color-gray-dark: #191A1F;
$color-gray-light: #2b2d35;
$color-gray-lighter: #383b46;
$color-gray-lightest: #545763;
$color-yellow: #f3ba14;

// Social
$color-social-twitter: #209BF0;
$color-social-discord: #5965F5;
$color-social-opensea: #2381E2;
