/**
*	_base.scss
*	This file contains the base styles for the app, including typography,
*	colors, buttons, and forms. It also includes any utility classes that
*	are used throughout the app.
*/

@use '../variables/typography' as typography;
@use '../variables/color' as color;

@font-face {
	font-family: 'BluuNext-Bold';
	src: url('/font/BluuNext-Bold.otf');
}

html {
	font-family: typography.$font-family-base;
	font-size: typography.$font-size-root;
	font-weight: typography.$font-weight-medium;
	color: color.$color-text;
	line-height: typography.$font-line-height;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-variant-numeric: lining-nums;
	background-color: color.$color-bg;
}

a {
	color: color.$color-yellow;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: typography.$font-family-heading;
	letter-spacing: -(typography.$font-letter-spacing-sm);
	line-height: typography.$font-line-height-sm;;
}

h2 {
	font-size: typography.$font-size-h2;
	font-weight: typography.$font-weight-bold;
	color: color.$color-text-white;
}
